*pyc
data/out/
data/model_checkpoints
*png
*txt
*JPG
*meta
*index
*gp
*00001
*pkl
*tgz
checkpoint*
events*
.vscode/launch.json
.vscode/settings.json
*pdf
*eps
*.jpg
*tflite
data/KITTI/ImageSets/train.txt
data/KITTI/ImageSets/trainval.txt
data/KITTI/ImageSets/val.txt
